*aux
*bbl
*log
*blg
*err
*toc
*out
build/AN-19-243_temp.aux
build/AN-19-243_temp.bbl
build/AN-19-243_temp.blg
build/AN-19-243_temp.err
build/AN-19-243_temp.log
build/AN-19-243_temp.out
build/AN-19-243_temp.pdftex_out
build/AN-19-243_temp.tex
build/AN-19-243_temp.toc
build/auto_generated.bib
build/auto_generated.bst
build/missfont.log
